@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --background-color: #fff;
  --background-cards: #efefef;
  --text-color: #000;
  --header-bg: #011f4f;
  --navBar: #023484;
}

@layer utilities {
  .items-normal {
    align-items: normal;
  }
}

@layer components {
  .opacity-children-40 > *:not(#noCountMssg) {
    @apply opacity-40
  }

  .inactive-card {
    @apply opacity-50 pointer-events-none
  }
}