---
import Layout from '@/layouts/Layout.astro'
import UserInfo from '@/components/UserInfo'
import { isLoggedIn }	from '@/utils'

const cookie = Astro.request.headers.get('cookie')
console.log(cookie)

// Si el usuario no ha iniciado sesión, redirígelos a la página de inicio de sesión
if (!isLoggedIn(cookie)) {
  return Astro.redirect('/');
}
---

<Layout title="Dashboard">
	<main>
		<h1>Dashboard</h1>
		<UserInfo client:load/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
